*.swp
*.pyc
*~
*.o
*.lo
*.Plo
*.la
*.qm
*.in
*.obj
*.tlog
*.lob
*.idb
*.pdb

build/*
build32/*
vsbuild/*

*libtool.m4
*ltoptions.m4
*ltsugar.m4
*ltversion.m4
*lt~obsolete.m4
*aclocal.m4

*config.guess
*config.log
*config.status
*config.sub
*configure

*compile
*depcomp
*install-sh
*libtool
*ar-lib
*ltmain.sh
*missing

*.deps
*.libs
*autom4te.cache

Makefile
config.h
stamp-h1
.dirstamp
1
.vs

Makefile
ArmoryDB
BIP150KeyManager
/armoryengine/ArmoryBuild.py

/cppForSwig/BIP150KeyManager

CppBlockUtils.py
_CppBlockUtils.*
/cppForSwig/CppBlockUtils_wrap.cxx

/cppForSwig/chacha20poly1305/chacha20poly1305bench
/cppForSwig/chacha20poly1305/chacha20poly1305tests

/cppForSwig/libcryptopp.a
/cppForSwig/libleveldb.a
/cppForSwig/cryptopp/*.a
/cppForSwig/cryptopp/a.out
/cppForSwig/cryptopp/Template
/cppForSwig/cryptopp/TestData
/cppForSwig/cryptopp/TestVectors
/cppForSwig/cryptopp/CTDebug
/cppForSwig/cryptopp/Debug
/cppForSwig/cryptopp/DLL_Debug
/cppForSwig/cryptopp/dlltest___Win32_Debug
/cppForSwig/cryptopp/Release
/cppForSwig/cryptopp/Makefile

/cppForSwig/fcgi/fcgi_config.h
/cppForSwig/fcgi/examples/*

/cppForSwig/gtest/BIP151RekeyTest
/cppForSwig/gtest/ContainerTests
/cppForSwig/gtest/CppBlockUtilsTests
/cppForSwig/gtest/SupernodeTests
/cppForSwig/gtest/WalletTests
/cppForSwig/gtest/*.txt
/cppForSwig/gtest/*.a
/cppForSwig/gtest/*.out.*
/cppForSwig/gtest/blkfiletest/*
/cppForSwig/gtest/ldbtestdir/*
/cppForSwig/gtest/*.dSYM
/cppForSwig/gtest/*.lmdb*
/cppForSwig/gtest/DB1kIterTest
/cppForSwig/gtest/SignerTests

/cppForSwig/libbtc/bitcoin-spv

!/cppForSwig/ccan/config.h
/cppForSwig/ccan/**/*.d
/cppForSwig/ccan/**/Info
/cppForSwig/ccan/**/Info.plist

*.DS_Store

/ArmoryStandalone/*
/cppForSwig/CppBlockUtils_wrap.h
/cppForSwig/leveldb/*
/cppForSwig/libs/*
/cppForSwig/Release/*
/cppForSwig/swigwin/*
/cppForSwig/pypaths.txt
/cppForSwig/output.txt
/cppForSwig/Makefile
/cppForSwig/lmdb/Makefile

/pytest/*.bin
/pytest/mytxfile

/*.exe

/CompilerArgs.nsi
/build/bdist.win32/winexe/temp
/*.dll
/qrc_img_resources.py
/.project
/.pydevproject
/.settings
/*.wallet

/*.txt
!CMakeLists.txt

/findpass.py
/sandbox.py

/lang/*.qm

test-driver

/webshop/orders/m*
/webshop/orders/n*
/webshop/orders/2*
/webshop/orders/1*
/webshop/orders/3*
/webshop/refunds/m*
/webshop/refunds/n*
/webshop/refunds/2*
/webshop/refunds/1*
/webshop/refunds/3*

/osxbuild/armory_*.tar.gz
/osxbuild/build-app.log.txt
/osxbuild/objc_armory/*.o
/osxbuild/objc_armory/Makefile*
/osxbuild/objc_armory/moc*
/osxbuild/objc_armory/sip*
/osxbuild/workspace/*

/armory_*_raspbian-armhf*

/dpkgfiles/control

/r-pi/RPI_CROSSCOMPILE/*

/cppForSwig/BitcoinArmory.sdf
/cppForSwig/BitcoinArmory.v12.suo
/cppForSwig/BitcoinArmory.opensdf
*.vcxproj.user

/cppForSwig/BDM_Client/build*
/cppForSwig/BDM_Client/x64*
/cppForSwig/BitcoinArmory_CppTests/x64*
/cppForSwig/BlockDataManager/x64*
/cppForSwig/ContainerTests/Release*
/cppForSwig/ContainerTests/x64*
/cppForSwig/cryptopp/x64*
/cppForSwig/guardian/x64*
/cppForSwig/x64*
/cppForSwig/LMDB_Win/x64*
/cppForSwig/protobuf/*.pb.*
/cppForSwig/x64/*.*
