Source: armorydb
Section: net
Priority: optional
Maintainer: BlockSettle AB <hello@blocksettle.com>
Build-Depends: debhelper (>= 9), cmake, pkg-config, libprotobuf-dev, protobuf-compiler
Standards-Version: 4.1.2
Homepage: http://blocksettle.com

Package: armorydb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Server part of Armory
 .
