#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = parallel=$(shell nproc)

%:
	dh $@ --buildsystem=cmake --parallel --without autoreconf

override_dh_auto_configure:
	dh_auto_configure -- -DWITH_CLIENT=OFF -DWITH_GUI=OFF -DWITH_HOST_CPU_FEATURES=OFF
